{% extends "shop/base.html" %}
{% load mptt_tags %}
{% load static %}
{% block content %}
<div id="sidebar">
    <h3>Categories</h3>
    <ul class="root">



        {% recursetree categories%}

        <li>
            <a href="{{node.get_absolute_url }}" class="btn btn-secondary">{{ node.name }}</a>
            {% if not node.is_leaf_node %}
            <ul class="children">
                <a href="{{node.get_absolute_url }}" class="btn btn-secondary">{{ children }} </a>
            </ul>
            {% endif %}
        </li>


        {% endrecursetree %}


    </ul>
</div>
<div id="main" class="product-list">
    {% with parents=instance.get_ancestors%}
    <h2>
        <a href="{% url 'shop:products' %}">All Products</a> /
        {% for parent in parents %}
        <a href="{{instance.parent.get_absolute_url }}"> {{parent.name}} </a> /
        {% endfor %}
        {{ instance.name }}
    </h2>
    {% with cat_products=instance.get_products %}
    {% for products in cat_products %}
    {% for product in products %}

    <div class="item">
        <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "images/no_image.png" %}{% endif %}">
        <a href='{{ product.get_absolute_url }}'>{{ product }}
        </a>
        <br>
        price:
        {{product.price}}$
    </div>

    {% endfor %}

    {% endfor %}
    {% endwith %}
    {% endwith %}

</div>


{% endblock %}