{% extends 'shop/base.html' %}
{% load static %}
{% load namify %}


{% block title %}
{{ product.name }}
{% endblock title %}


{% block content %}


<ul id="main">

    <div id="sidebar">
        <h3>Categories</h3>
        {% for i in product.category.get_slug_list %}
        <ul>
            <li>
                <a href="/categories/{{ i }}">{{ i|get_name }}</a>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="product-detail">

        <div class="item">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}
            {% static 'images/no_image.png' %}{% endif %}" alt='{{ product.name }}'>
            <h1>{{ product }}</h1>
            <br>
            <p class="price">
                price: {{product.price}}$
            </p>
            <h2>{{ product.description }}</h2>
        </div>
    </div>
</ul>
{% endblock content %}