{% extends "shop/base.html" %}
{% load static %}
{% load mptt_tags %}


{% block content %}
<div id="sidebar">
  <h3>Categories</h3>
  <ul class="root">
    {% recursetree categories %}
    <li>
      <a href="{{node.get_absolute_url }}" class="btn btn-secondary">{{ node.name }}</a>
      {% if not node.is_leaf_node %}
      <ul class="children">
        <a href="{{node.get_absolute_url }}">{{ children }} </a>
      </ul>
      {% endif %}
    </li>


    {% endrecursetree %}
  </ul>

</div>

<div id="main" class="product-list">
  <h1>{% if category %}{{ category.name }}{% else %}All Products{% endif %}</h1>
  {% for product in products %}
  <div class="item">
    <a href='{{ product.get_absolute_url }}'>
      <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "images/no_image.png" %}{% endif %}">
      {{ product }}
    </a>
    <br>
    price:
    {{product.price}}$
  </div>
  {% endfor %}

</div>

{% endblock %}