{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div id="sidebar">
    <ul>
        <li>
            <a href="{% url 'users:profile' %}" class="btn btn-secondary"
                >Profile Overview</a
            >
        </li>
        <li>
            <a href="{% url 'users:profile_update' %}" class="btn btn-secondary"
                >Profile Information</a
            >
        </li>
        <li><a href="#" class="btn btn-secondary">My Orders</a></li>
        <li><a href="#" class="btn btn-secondary">Favorite Products</a></li>
        <li><a href="{% url 'users:address_list' %}" class="btn btn-secondary">Addresses</a></li>
        <li>
            <a href="{% url 'users:logout' %}" class="btn btn-secondary">Logout</a>
        </li>
    </ul>
</div>
<div class="content-section">
    <div class="media m-1">
            <img
            class="rounded-circle account-img"
            src="{{ user.profile.image.url }}"
            />
            <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>E-mail</b>: {{ user.email }}</li>
                <li class="list-group-item"><b>First Name</b>: {{ user.first_name }}</li>
                <li class="list-group-item"><b>Last Name</b>: {{ user.last_name }}</li>
            </ul>
        </div>
        <div class="col col-5">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Password</b>: *****</li>
            </ul>
        </div>
    </div>
</div>
<div class="content-section">
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            {% if last_orders %}
                {% for order in last_orders %}
                    <div class="btn btn-info disabled">order_id: {{ order.id }}</div>
                    <ul>
                        {% if order.get_order_items %}
                            {% with order.get_order_items as order_items %}
                                {% for item in order_items %}
                                    <li>
                                        item {{ forloop.counter }}: <a href="{{ item.product.get_absolute_url }}">{{ item.product }}</a>
                                    </li>
                                {% endfor %}
                            {% endwith %}
                        {% endif %}
                    </ul>
                {% endfor %}
            {% else %}
                You have not bought anything yet
            {% endif %}
        </div>
        <div class="col col-2"></div>
    </div>
</div>
{% endblock content %}
