{% extends "shop/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div id="sidebar">
  <ul>
    <li>
      <a href="{% url 'users:profile' %}" class="btn btn-secondary"
        >Profile Information</a
      >
    </li>
    <li><a href="#" class="btn btn-secondary">My Orders</a></li>
    <li><a href="#" class="btn btn-secondary">Favorite Products</a></li>
    <li>
      <a href="{% url 'users:logout' %}" class="btn btn-secondary">Logout</a>
    </li>
  </ul>
</div>
<div class="content-section">
  <div class="media">
    <img
      class="rounded-circle account-img"
      src="{{ user.profile.image.url }}"
    />
    <div class="media-body">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <div class="row">
    <form method="POST" class="order-form">
      <div class="col">
        <p>{{ user_form|crispy }}</p>
      </div>

      <p><input type="submit" value="Change Info" /></p>
      {% csrf_token %}
    </form>

    <form method="POST" class="order-form">
      <div class="col">
        <p>{{ pass_form|crispy }}</p>
      </div>
      <p><input type="submit" value="Change Password" /></p>
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock content %}
